@import "tailwindcss";

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto.ttf");
}
@font-face {
    font-family: "Imprima";
    src: url("./fonts/Imprima.ttf");
}
.font-main {
    font-family: "Roboto", sans-serif;
}
.font-head {
    font-family: "Imprima", sans-serif;
}
@variant dark (&:where(.dark, .dark *));

@theme {
    --animate-logo: logo 1s infinite;
}
* {
    font-family: "Roboto", sans-serif;
}

@layer components {
    .logo {
        @apply relative inline-block text-black text-lg lg:text-3xl  animate-logo uppercase;
        animation-delay: calc(var(--i) * 0.1s);
    }
    .nav-btn {
        @apply block text-black/80 hover:scale-100 hover:text-black transition duration-300
    }
    .active {
        @apply text-black scale-90 border-b
    }
    .hover-icon {
        @apply w-10 h-10 flex justify-center items-center hover:bg-gray-100 duration-300 rounded-full
    }
}

@keyframes logo {
    0%, 40%, 100% {
        transform: translateY(0);
        }
    20% {
        transform: translateY(-15px);
    }
}